@page "/Sobre Mim"

<PageTitle>Sobre Mim</PageTitle>

<div class="container">
    <h1>Sobre Mim</h1>
    <img src="gatinho.png" alt="gatinho programador" width="100" weight="100">
    <p>Olá! Meu nome é <strong>Eduardo Dourado</strong> e gosto muito de tecnologia .</p>

    <p>Atualmente, estou estudando áreas como <strong>Redes de Computadores</strong>, <strong>Banco de Dados</strong> e <strong>Programação</strong>. Gosto de entender como as coisas funcionam por trás dos sistemas e estou sempre buscando melhorar minhas habilidades.</p>

    <p>Nas horas vagas, curto  ouvir música, explorar novas ferramentas e me divertir com amigos. Também me interesso por temas como segurança digital e inteligência artificial.</p>

    <p>Meu objetivo é crescer profissionalmente na área de tecnologia e contribuir com projetos que façam a diferença.</p>
</div>
